<h2 class="titulo">PERFIL</h2>
<div class="container">
    
    <div class="row">
        <div class="col-6">
            <img src="../../assets/img/letras.png">
        </div>
        <div class="col-6">
            <h3 class="titulo2">Editar Perfil</h3>
            <div class="datos">
                <form action="">
                    <div class="form-group">
                        <label>Nombre</label>
                        <input type="text" name="nombre" id="nombre" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Apellidos</label>
                        <input type="text" name="apellidos" id="apellidos" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Usuario</label>
                        <input type="text" name="usuario" id="usuario" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Ciudad</label>
                        <input type="text" name="ciudad" id="ciudad" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Descripcion</label>
                        <textarea name="descripcion" id="descripcion" class="form-control" maxlength="300"></textarea>
                    </div>
                    <input type="submit" class="btn btn-primary btn-small m-1" value="Guardar">
                </form>
                <!-- <h4>Nombre y apellidos</h4>
                <h5>Nombre usuario</h5>
                <p>Ciudad</p>
                <p>Descripcion</p> -->
            </div>
        </div>
    </div>
</div>