.container {
  margin: 0 auto;
}

.row img {
  width: 100%;
  height: auto;
  margin-top: 40%;
  border: 1px solid rgba(0, 0, 0, 0, 0.8);
  box-shadow: 5px 10px 50px #888888;
}

.row .datos {
  width: 100%;
  height: auto;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.8), -4px 0 10px rgba(0, 0, 0, 0.8);
  padding-bottom: 1em;
}

form div {
  padding: 10px;
}

.titulo {
  text-align: center;
  font-size: 50px;
  background-color: #25232A;
  color: #ccc;
  opacity: 0.8;
  width: 100%;
  font-family: 'Krona One', sans-serif;
}

.form-group input {
  border-top: none;
  border-right: none;
  border-left: none;

}

.titulo2 {
  text-align: center;
  font-size: 25px;
  background-color: #177c30;
  color: #ccc;
  opacity: 0.8;
  width: 100%;
  font-family: 'Krona One', sans-serif;
}
.panel{
  display: flex;
  justify-content: space-around;
  margin-top: 1em;

}
.seguidores{
  padding: 1.75em;
  font-family: 'Rubik Mono One', sans-serif;
  background-color: #37a88b;
}
.siguiendo{
  padding: 1.75em;
  font-family: 'Rubik Mono One', sans-serif;
  background-color: rgb(230, 101, 78);
}

.error{
    color: red;
    font-size: 0.825em;
}


@media(max-width:767px) {
  .row img {
    margin-top: 2px;
    margin-bottom: 5%;
  }

  .row .datos {
    margin-bottom: 0.50em;
  }

  .error{
    font-size: 0.7em;
}
  

}
@media(max-width:900px) {
  

  
  .seguidores{
    padding: 0.30em;
    
  }
  .siguiendo{
    padding: 0.30em;
   
  }

}

/* @media (min-width:601px) and (max-width:1024px){
  .row img{
    margin-top:5%;
    margin-bottom: 5%;
  }
} */
