/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat:wght@400;700&family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Rubik+Mono+One&display=swap');

/* font-family: 'Krona One', sans-serif;
font-family: 'Rubik Mono One', sans-serif; */
body{
    background-color: #F3F1F1;
}