img{
    width: 100%;
    height: auto;
}

.post{
    border: 3px solid black;
    box-shadow: 5px 5px 10px #999;
}

.post img{
    width: 100%;
}

.post h3{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-weight: 700;
}

.post .autor{
    font-style: italic;
    font-weight: 500;
    margin-left: 0.6em;
}

.post p{
    margin: 0.6em;
}

.relacionados{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

.articulo{
    border: 1px solid greenyellow;
    margin-left: 10px;
    width: 23.5%;
    margin-bottom: 2%;
    box-shadow: 2px 2px 5px #999;
}

.articulo:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.8s;
}

.articulo img{
    padding: 5%;
}

.articulo h6{
    text-align: center;
}

.articulo p{
    padding: 0 5%;
}

@media (max-width: 600px){
    
    .articulo{
        width: 45%;
    }

}