<div class="container">
    <div class="row">
        <div class="post">
            <img src="../../../assets/img/background.jpg">
            <h3>Titulo del post</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus iure dolores eligendi vitae
                temporibus minima autem sapiente dolor tempora, itaque ullam deserunt esse error consequuntur ipsam
                dicta ipsa, facilis obcaecati fuga dolore tenetur iusto hic cupiditate? Corporis obcaecati itaque, amet
                corrupti asperiores sint voluptate recusandae exercitationem dolor eligendi eveniet vero illum minus ut
                officiis excepturi aut iusto nesciunt libero. Voluptates, excepturi. Dolores possimus id mollitia porro
                repellendus excepturi minima quam ab. Officia similique facilis aperiam molestiae quasi ullam hic cumque
                eaque fugit alias aut quo, voluptatibus exercitationem obcaecati debitis, saepe cum facere? Quae libero
                molestiae aliquam voluptatem excepturi perferendis doloremque.</p>
            <p class="autor">Autor</p>
        </div>
    </div>
    <div class="relacionados row">
        <div class="articulo">
            <img src="../../../assets/img/background.jpg">
            <h6>Titulo</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, adipisci.</p>
        </div>
        <div class="articulo">
            <img src="../../../assets/img/background.jpg">
            <h6>Titulo</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, adipisci.</p>
        </div>
        <div class="articulo">
            <img src="../../../assets/img/background.jpg">
            <h6>Titulo</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, adipisci.</p>
        </div>
        <div class="articulo">
            <img src="../../../assets/img/background.jpg">
            <h6>Titulo</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, adipisci.</p>
        </div>
        <div class="articulo">
            <img src="../../../assets/img/background.jpg">
            <h6>Titulo</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, adipisci.</p>
        </div>
    </div>
</div>