img{
    width: 100%;
    height: auto;
}

.post{
    margin: 0 auto;
    width: 85%;
    box-shadow: 5px 5px 10px #999;
}

.post img{
    width: 100%;
    border: 1px solid #37A88B;
}

.post h3{
    text-align: center;
    font-family: 'Krona One', sans-serif;
    font-weight: 700;
}

.post .autor{
    font-style: italic;
    font-weight: 500;
    margin-left: 0.6em;
}

.post p{
    margin: 0.6em;
}

.relacionados{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3%;
}

.articulo{ 
    text-align: center;
    border: 1px solid #37A88B;
    margin-left: 10px;
    width: 23.5%;
    margin-bottom: 2%;
    box-shadow: 2px 2px 5px #999;
    padding-bottom: 50px;
}

.articulo:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.8s;
}

.articulo img{
    padding: 5%;
}

.articulo h6{
    text-align: center;
}

.articulo p{
    padding: 0 5%;
}

@media (max-width: 600px){
    
    .articulo{
        width: 45%;
    }

    .articulo h4{
        font-size: 0.825em;
    }

}