.barra{
    width: 90%;
}

.titulo h2 {
  text-align: center;
  font-size: 50px;
  background-color: #25232A;
  color: #ccc;
  opacity: 0.8;
  width: 100%;
  font-family: 'Krona One', sans-serif;
}
.btn{ 
    width: 5.3em;
}

.usuarios .nombre{
    font-family: 'Montserrat', cursive;
    font-size: 1.325em;
    font-weight: 700;
}

.usuarios{
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.usuarios .apellidos{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    margin-top: -0.825em;
}

.usuarios .ciudad{
    font-style: italic;
    margin-top: -1.5em;
  }

.btn1{
    margin-left: 50%;
}

.btn2{
    margin-left: 50%;
}

.barraBusqueda {
  margin-bottom: auto;
  margin-top: auto;
  margin: 0 auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
}

.busqueda {
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color: transparent;
  line-height: 40px; 
  transition: width 0.4s linear;
}

.barraBusqueda>.busqueda {
  padding: 0 10px;
  width: 35vw;
  caret-color: #37a88b;
  transition: width 0.4s linear;
}

.barraBusqueda>.icon {
  background: white;
  color: #37a88b;
}

.icon {
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

.follow{
  color: #37a88b;
  font-size: 50px;
  transition: 0.4s all;
}

.follow:hover{
  color: #353b48;
  }
  
img{
  width: 100%;
  height: auto;
}

.personas{
  font-size: 25px;
  margin-left: 1%;
  border-bottom:1px solid #ccc;
}

.marco{
  border-bottom:1px solid #ccc ;
  /* padding: 5px 10px; */
  display: flex;
  flex-wrap: wrap;
}

.fotoperfil img{
  width:100%;
  height: 10em;
  margin: 0 auto;
  /* margin-left: -1em;  */
  border-radius: 50%;
}



.agregarUser div{
cursor: pointer;
font-size: 2em;
margin-top:0.5em;
}

.agregarUser .fa-user-plus{
color: lightskyblue;
}


.agregarUser .fa-user-check{
color: rgb(25, 179, 25);

}

@media (max-width: 600px){

  .fotoperfil img{
    height: 5em;
  }

}

@media (min-width: 1200px) {
 .agregarUser .fa-user-check:hover{
color: red;
} 
}
