<div class="titulo">
    <h2>
        USUARIOS
    </h2>
</div>
<div class="container">
    <div class="mt-3 mb-3">
        <div class="col-12 mt-4 d-flex">
            <div class="barraBusqueda">
                <input class="busqueda" type="text" name="" placeholder="Buscar..." (keyup)="buscarUsuario($event)">
                <a class="icon"><i class="fas fa-search"></i></a>
            </div>
        </div>
    </div>
    <div class="usuarios mb-1">
        <p class="personas">Personas</p>
        <div class="row m-1 marco" *ngFor="let user of arrFiltrados">
            <div class="col-3 col-md-2 fotoperfil">
                <img [src]="user.imagen">
            </div>

            <div class="col-7 col-md-8">
                <h6 class="nombre">{{user.nombre}}</h6>
                <p class="apellidos">{{user.apellidos}}</p>
                <p class="ciudad">{{user.ciudad}}</p>
            </div>
            <div class="col-2 col-md-2 agregarUser">
                <div id="agregar" [ngClass]="{'fa-user-plus': !user.siguiendo, 'fa-user-check': user.siguiendo}"
                    class="fas " (click)="seguir(user)"></div>
            </div>
        </div>
    </div>
</div>