<div class="container-fluid">
  <header>
    <!-- Menu de navegacion -->
    <!-- <img class="logo" src="" alt="logo"> -->
    <h1 class="logo">BIKERS</h1>
    <nav>
      <ul class="nav_menu">
        <li><a href="">BLOG</a></li>
        <li><a href="">BUSCADOR</a></li>
        <li><a href="">PERFIL</a></li>
      </ul>

    </nav>
    <a class="contact" href="#"><button>Contacto</button> </a>
  </header>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer">
    <ul class="social-network social-circle">
      <li><a class="icoLinkedin" href="https://www.linkedin.com/in/priyank1205" title="Linkedin"><i
            class="fab fa-accusoft"></i></a></li>
      <li><a class="icoTwitter" href="https://twitter.com/priyank1205" title="Twitter"><i class="fa fa-twitter"></i></a>
      </li>
      <li><a class="icoMedium" href="https://medium.com/@priyank1205" title="Medium"><i class="fa fa-medium"></i></a>
      </li>
      <li><a class="icoQuora" href="https://www.quora.com/profile/Priyank-Agarwal-7" title="Quora"><i
            class="fa fa-quora"></i></a></li>
    </ul>
  </footer>
</div>