<div class="container-fluid">
  <div class="row ">
    <div class="col-sm-1"></div>
    <div class="col-sm-4 login-section-wrapper borde">
      <div class="login-wrapper my-auto ">
        <h1 class="login-title">REGISTRO</h1>
        <form [formGroup]="formRegistro" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" formControlName="nombre" class="form-control"
              placeholder="Introduce tu nombre">
          </div>
          <div class="form-group">
            <label for="apellidos">Apellidos</label>
            <input type="text" name="apellidos" formControlName="apellidos" class="form-control"
              placeholder="Introduce tus apellidos">
          </div>
          <div class="form-group">
            <label for="username">Nombre de Usuario</label>
            <input type="text" name="username" formControlName="username" class="form-control"
              placeholder="Introduce tu nombre de usuario">
            <p class="error col-md-10 col-sm-12 col-xs-12"
              *ngIf="formRegistro.controls.username.touched && !usernameAct">
              Debes introducir un nombre de usuario válido</p>
          </div>
          <div class="form-group mb-4">
            <label>Fecha de nacimiento </label>
            <input type="date" placeholder="YYYY-MM-DD" class="form-control" formControlName="fecha_nacimiento">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="email" formControlName="email" class="form-control"
              placeholder="Introduce tu email, ej: email@example.com">
            <p class="error col-md-10 col-sm-12 col-xs-12" *ngIf="formRegistro.controls.email.touched && !mailAct">
              Introduce un mail no registrado en la aplicación</p>
          </div>
          <div class="form-group mb-4">
            <label for="password">Password</label>
            <input type="password" name="password" formControlName="password" class="form-control"
              placeholder="Introduce una contraseña">
              <p class="error col-md-10 col-sm-12 col-xs-12" *ngIf="formRegistro.controls.password.errors?.pattern &&
              formRegistro.controls.password.touched ">
                La contraseña debe tener al entre 8 y 16 caracteres, al menos un dígito, al menos una minúscula y al menos una mayúscula.</p>
          </div>
          <!--  <div class="form-group mb-4">
            <label for="r_password">Repite Password</label>
            <input type="password" name="r_password" formControlName="r_password" class="form-control"
              placeholder="Introduce una contraseña">
          </div> -->
          <div class="form-group mb-4">
            <label for="ciudad">Ciudad</label>
            <input type="text" name="ciudad" formControlName="ciudad" class="form-control"
              placeholder="Introduce la ciudad donde vives">
          </div>
          <input type="hidden" formControlName="imagen">

          <input class="btn btn-block login-btn" type="submit" value="Registro"
            [disabled]="!formRegistro.valid || !mailAct || !usernameAct">
        </form>
        <!-- <a href="#!" class="forgot-password-link">Forgot password?</a>
           -->
      </div>
    </div>

  </div>
</div>

<!-- nombre apellidos email password repite_password fecha_registro ciudad fecha de nacimiento -->