*{
    padding: 0;
    margin: 0;
}

.grupo {
    padding: 0 ;
}

.grupo li {
    display: block;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    background-color: #25232A;
    color: #2fd1a9;
    float: left ;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.3s all ease;
}

.grupo li:hover{
  background-color: rgb(80, 75, 94);
    color: #25232A;  
}

.boton .activo  li {
    background-color: aqua;
}


.content{
    background-image: url('../../../assets/img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }
  
  