
<div class="cabecera">
    <img class="logo" src="../../../assets/img/bikers_logo_blanco.png" alt="">
    <img class="letras" src="../../../assets/img/Bikers-letras_blanco.png" alt="">
    <img class="logo" src="../../../assets/img/bikers_logo_blanco.png" alt="">
</div>
<div class="form">
    <ul class="grupo">
        <li class="boton" (click)="mostrar(true)">REGISTRATE</li>
        <li class="boton" (click)="mostrar(false)">INICIA SESION</li>
    </ul>

    <div class="content">
        <div id="register" *ngIf="registro">
            <app-register></app-register>
        </div>
        <div id="login" *ngIf="!registro">
            <app-login></app-login>
        </div>
    </div>

</div>