*{
    padding: 0;
    margin: 0;
}

.grupo {
    padding: 0 ;
}

.grupo li {
    display: block;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    background-color: #25232A;
    color: #37A88B; 
    float: left ;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: 0.3s all ease;
}

.grupo li:hover{
  background-color: rgb(80, 75, 94);
    color: #2fd1a9;  
}

.boton .activo  li {
    background-color: aqua;
}

.cabecera{ 
    text-align: center;
    background-color: #25232A
}

.logo{
    width: 6.250em;
    height: auto;
}

.logo2{
    width: 6.250em;
    height: auto;
}

.letras{
    margin-left: 6.250em;
    margin-right: 6.250em;
}

.content{
    background-image: url('../../../assets/img/fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

@media (max-width: 600px) {

  .logo{
      display: none;
  }

  .letras{
      display: none;
  }

  .logo2{
      width: 7.5em;
  }

  .grupo li{
    font-size: 1em;
  }

}

@media (max-width: 1024px){

    
}
  