<div class="container-fluid">
    <div class="row">
        <div class="col-12 ">
            <div id="carrusel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carrusel" data-slide-to="0" class="active"></li>
                    <li data-target="#carrusel" data-slide-to="1"></li>
                    <li data-target="#carrusel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-interval="100">
                        <img class="d-block w-100" src="../../../assets/img/carrusel/imagen1.jpg" alt="">
                    </div>
                    <div class="carousel-item" data-interval="100">
                        <img class="d-block w-100" src="../../../assets/img/carrusel/imagen4.jpg" alt="">
                    </div>
                    <div class="carousel-item" data-interval="100">
                        <img class="d-block w-100" src="../../../assets/img/carrusel/imagen3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2 class="text-center titulo">Novedades</h2>
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-10 contenedor">

            <div class="posts mb-5 d-flex justify-content-around flex-wrap">
                <!-- Meter ngFor con todos los posts. -->
                <div class="post col-xs-12 col-sm-12 col-md-7 mt-3" *ngFor="let post of arrNovedades">
                    <h4>{{post.titulo}}</h4>
                    <div class="foto text-center mt-3 mb-3">
                        <img src="https://cdn.todomountainbike.net/images/articles/2020/bicicletas-mtb-economicas-2020.jpg"
                            alt="">
                    </div>
                    <p>{{post.descripcion}}
                    </p>
                    <!-- Crear funcion que saque el nombre del autor-->
                    <p>{{post.fk_idUsuario}}</p>
                </div>
            </div>
        </div>
    </div>
</div>