*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#carrusel{
    height: 50vh;
}

#carrusel .carousel-inner{
    height: 50vh;
}

.carousel-item{
    height: 50vh;
    /* min-height: 450px; */
}

.post{
    padding: 15px;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.8),  -4px 0 10px rgba(0,0,0,0.8);
}

.foto{
    width: 100%;
    height: auto;
}

.foto img{
    width: 100%;
    height: auto;
}

.contenedor{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.titulo {
    text-align: center;
    font-size: 50px;
    background-color: #25232A;
    color: #ccc;
    opacity: 0.8;
    width: 100%;
    padding: 0.30em;
}

li{
    color: #37a88b;
}

@media(max-width:600px){

    #carrusel{
        height: 20vh;
    }

    #carrusel .carousel-inner{
        height: 20vh;
    }

    .carousel-item{
        height: 20vh;
    }

    .titulo{
        font-size: 2em;
        margin: 0;
    }

}

@media (min-width:601px) and (max-width:1024px){

     #carrusel{
        height: 26vh;
    }

    #carrusel .carousel-inner{
        height: 26vh;
    }

    .carousel-item{
        height: 26vh;
    }

    .titulo{
        margin: 0;
    }

}