*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#carrusel{
    height: 50vh;
}
#carrusel .carousel-inner{
    height: 50vh;
}
.carousel-item{
    height: 50vh;
    min-height: 450px;
}
.post{
    border: 2px solid black;
    padding: 15px;
}
.foto{
    width: 100%;
    height: auto;
}
.foto img{
    width: 100%;
    height: auto;
}

.contenedor{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.titulo {
    text-align: center;
    font-size: 50px;
    background-color: #25232A;
    color: #ccc;
    opacity: 0.8;
    width: 100%;
    padding: 0.30em;
  }