.formulario{
    min-height: 85vh;
}
 
input.ng-valid.ng-touched{
    border: 2px solid greenyellow;
}

input.ng-invalid.ng-touched{
    border: 2px solid red;
}

.error{
    color: red;
    font-size: 0.825em;
}